#notesOverlay {
  position: absolute;
  width: 40ch;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 15;
  padding: 1.67rem;
  color: #000;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.67);
  border-radius: 0.5rem;
  background-image: url("../phb_bg.jpg");
  box-shadow: 0 0 0.5rem #333;
  line-height: 1.4;
}

#notesOverlay h3,
#notesOverlay em {
  font-family: "Marcellus SC", serif;
  letter-spacing: 2px;
  margin: -0.25em 0 0.5em 0;
  font-size: 1.33rem;
  color: hsl(29, 24%, 30%);
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}
#notesOverlay em {
  font-style: normal;
}
#notesOverlay .hidden {
  visibility: hidden;
}
